.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 0 2rem;
}

.header__nav-items > a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin: 1rem .5rem;
}

.active-nav-menu-item {
  font-weight: bold;
}

.header__logo > a {
  text-decoration: none;
  color: white;
}